.ext-footer
  padding 60px 0 0 0
  margin-top 30px
  font-size 1em
  background-color #fff
  border-top: 1px solid rgba(0, 0, 0, 0.1)

  .footer
    max-width 1180px
    margin 0 auto
    display flex
    flex-direction row
    flex-wrap wrap
    align-items center
    justify-content space-between

  .institutional
    flex-grow 2
    .apoyo-logos
      .logos
        display flex
        img
          margin-right 15px
          height 32px
    p
      max-width 560px
  a
    color $tertiary-color
    font-weight 400
    &:hover
      color $tertiary-color-hover
      text-decoration underline

  .logo
    span
      display block
      color #aaa
      &:hover
        opacity 1

  .gob
    padding-right 30px
    margin-bottom 30px
    display: flex
    align-items: center;
    .logo-incubadora
      max-width 100%
      width 300px
    .logo-movimiento
      max-width 100%
      width 150px
      margin-top 15px

  .menu
    padding 0 15px
    text-align left

    &:first-of-type
      flex-grow 3

    a
      display block
      padding 6px 0

  @media only screen and (max-width: 687px)
    .footer
      flex-direction column
      flex-wrap wrap
      padding 0 10px

    .menu
      padding-right 0
      a
        display block
        line-height 1em

    .gob
      img
        width 300px

    .institutional
      padding 0 15px
.policies
  text-align: center
  margin-top:3rem