// la siguiente línea carga del código madre (lib/frontend/site/boot/boot.styl) las siguiente rutas:
// @import 'node_modules/democracyos-bootstrap/dist/css/bootstrap.min.css'
// @import 'lib/frontend/layout'
// @import 'lib/frontend/site/*/styles'
@import 'lib/frontend/site/boot/boot'

@import '../../*/styles'
@import '../*/styles'

// breadcrumb del "help" de la página
.breadcrumb 
  a
    color: $primary-color
  a:hover
    color: $primary-color-resalted
  
// aparece en sección "help" de la página, fondos del menú izquierdo
.page-sidebar .nav-pills > li.active > a,
.page-sidebar .nav-pills > li.active > a:hover,
.page-sidebar .nav-pills > li.active > a:focus
  background-color: $secondary-color-hover
  
.page-sidebar .nav-pills a
  color: $primary-color-hover
  
.page-sidebar .nav-pills a:hover
  color: #fff
  background-color: $secondary-color!important
// iconitos de fb y tw en las cajas de los topics en la home
a.icon-social-facebook, a.icon-social-twitter
  color: $tertiary-color